<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>
<script type="text/javascript">
function linkify(inputText) {
    var replacedText, replacePattern1, replacePattern2, replacePattern3;

    //URLs starting with http://, https://, or ftp://
    replacePattern1 = /(\b(https?|ftp):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/gim;
    replacedText = inputText.replace(replacePattern1, '<a href="$1" target="_blank">$1</a>');

    //URLs starting with "www." (without // before it, or it'd re-link the ones done above).
    replacePattern2 = /(^|[^\/])(www\.[\S]+(\b|$))/gim;
    replacedText = replacedText.replace(replacePattern2, '$1<a href="http://$2" target="_blank">$2</a>');

    //Change email addresses to mailto:: links.
    replacePattern3 = /(([a-zA-Z0-9\-\_\.])+@[a-zA-Z\_]+?(\.[a-zA-Z]{2,6})+)/gim;
    replacedText = replacedText.replace(replacePattern3, '<a href="mailto:$1">$1</a>');

    replacePattern4 = /(^|[^@\w])@(\w{1,15})\b/g;
    replacedText = replacedText.replace(replacePattern4, '$1<a href="https://twitter.com/$2">@$2</a>');

    return replacedText;
}</script>
<link rel="stylesheet" type="text/css" href="../static/style.css"/>
</head>
 
<body>
  <title>TwittMap</title>
  <h1 align = "center" style = "font-size: 60px; margin:50px;">TwittMap</h1>
  <h2 align = "center" style = "font-size: 20px; margin:-20px;">by Liqi chen and Kejia chen</h2>
<section class="container">
    <form class="search" method="POST" action="" id = "myform">
      <input type="search" name="q" placeholder="Search..." autocomplete="off" value = "" id="q">
      <ul class="search-ac">
        <li onclick="myform.q.value = 0; myform.submit();"><a>#1&nbsp;<span>serendipity</span></a></li>
        <li onclick="myform.q.value = 1; myform.submit();"><a>#2&nbsp;<span>AlphaGo Zero</span></a></li>
        <li onclick="myform.q.value = 2; myform.submit();"><a>#3&nbsp;<span>HKUST</span></a></li>
        <li onclick="myform.q.value = 3; myform.submit();"><a>#4&nbsp;<span>Columbia University</span></a></li>
        <li onclick="myform.q.value = 4; myform.submit();"><a>#5&nbsp;<span>Cloud Computing</span></a></li>
        <li onclick="myform.q.value = 5; myform.submit();"><a>#6&nbsp;<span>Drunken Noodles</span></a></li>
        <li onclick="myform.q.value = 6; myform.submit();"><a>#7&nbsp;<span>Facebook</span></a></li>
        <li onclick="myform.q.value = 7; myform.submit();"><a>#8&nbsp;<span>Eason Chan</span></a></li>
        <li onclick="myform.q.value = 8; myform.submit();"><a>#9&nbsp;<span>X-man</span></a></li>
        <li onclick="myform.q.value = 9; myform.submit();"><a>#10&nbsp;<span>Gotham</span></a></li>
      </ul>
    </form>
  </section>
<div id="mapid" style="width:600px; height:400px;margin-top: -130px;"></div>
 <script>
    var mymap = L.map('mapid').setView([39, 34], 2);
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
      '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
      'Imagery © <a href="http://mapbox.com">Mapbox</a>',
    id: 'mapbox.streets'
  }).addTo(mymap);
  var x = 39;
  var y = 34;
  var group1 = L.featureGroup();
  {% for twitt in data %}
        var text = '{{twitt['text']}}';
        var name = '{{twitt['username']}}';
        var message = '<p style="color:#800080">'+name+'</p>' +text;
        message = linkify(message);
        //message = message.replace(/<br\s*[\/]?>/gim,"/n");
        x = {{twitt['location']['lat']}};
        y = {{twitt['location']['lng']}};
        L.marker([x,y]).addTo(group1).addTo(mymap).bindPopup(message).openPopup();
  {% endfor %}
  mymap.addLayer(group1);
  mymap.setView([x,y],2);
  var group2 = L.featureGroup();
  var popup = L.popup();
  function onMapClick(e) {
    mymap.removeLayer(group1);
    mymap.removeLayer(group2);
    group2 = L.featureGroup();
    popup
        .setLatLng(e.latlng)
        .setContent("No tweets nearby")
        .openOn(mymap);
    var clickcircle = L.circle(e.latlng, {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5,
    radius: 1000000
    }).addTo(mymap);
    clickcircle.addTo(group2);
    {% for twitt in data %}
      var x = {{twitt['location']['lat']}};
      var y = {{twitt['location']['lng']}};
      if (e.latlng.distanceTo([x,y]) < 1000000) {
        var text = '{{twitt['text']}}';
        var name = '{{twitt['username']}}';
        var message = '<p style="color:#800080">'+name+'</p>' +text;
        message = linkify(message);
        L.marker([x,y]).addTo(group2).addTo(mymap).bindPopup(message).openPopup();
      }
    {% endfor %}
      mymap.addLayer(group2);
      mymap.setView(e.latlng,4);
   }
  mymap.on('click', onMapClick);
 </script>
</body>
</html>